<ul>
  {{#each model as |item|}}
    <li>
      city: {{item.city}}<br />
      isVideo: {{if item.isVideo  'TRUE'  'FALSE'}}<br />
      name: {{item.name}}<br />
      phone: {{item.phone}}<br />
      state: {{item.state}}<br />
      street: {{item.street}}<br />
      zip: {{item.zip}}
    </li>
  {{/each}}
</ul>
