<ol>
  {{#each items as |item|}}
    <li class=" step {{if item.passed 'passed' ''}}">
      {{#if (and item.passed item.link)}}
        <span onclick={{action "navigateTo" item.link}}> {{item.title}}</span>
      {{else}} {{item.title}} {{/if}} </li>
  {{/each}} </ol>
